<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>controller.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailsController</servlet-name>
        <servlet-class>controller.CarDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsController</servlet-name>
        <servlet-class>controller.BlogDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>controller.CarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricingController</servlet-name>
        <servlet-class>controller.PricingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>controller.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileController</servlet-name>
        <servlet-class>controller.FileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>controller.admin.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRentinforController</servlet-name>
        <servlet-class>controller.admin.AdminRentinforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRentinforDetailsController</servlet-name>
        <servlet-class>controller.admin.AdminRentinforDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserController</servlet-name>
        <servlet-class>controller.admin.AdminUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCarController</servlet-name>
        <servlet-class>controller.admin.AdminCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCarDetailsController</servlet-name>
        <servlet-class>controller.admin.AdminCarDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutController</servlet-name>
        <servlet-class>controller.admin.AdminLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminContactController</servlet-name>
        <servlet-class>controller.admin.AdminContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminContactDetailsController</servlet-name>
        <servlet-class>controller.admin.AdminContactDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>controller.admin.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIndexController</servlet-name>
        <servlet-class>controller.admin.AdminIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>controller.admin.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateUserController</servlet-name>
        <servlet-class>controller.admin.AdminCreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <servlet-class>controller.admin.AdminDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUserController</servlet-name>
        <servlet-class>controller.admin.AdminUpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateCarController</servlet-name>
        <servlet-class>controller.admin.AdminCreateCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateCarController</servlet-name>
        <servlet-class>controller.admin.AdminUpdateCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCarController</servlet-name>
        <servlet-class>controller.admin.AdminDeleteCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateContactController</servlet-name>
        <servlet-class>controller.admin.AdminCreateContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateContactController</servlet-name>
        <servlet-class>controller.admin.AdminUpdateContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteContactController</servlet-name>
        <servlet-class>controller.admin.AdminDeleteContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateRentinforController</servlet-name>
        <servlet-class>controller.admin.AdminCreateRentinforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateRentinforController</servlet-name>
        <servlet-class>controller.admin.AdminUpdateRentinforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRentinforController</servlet-name>
        <servlet-class>controller.admin.AdminDeleteRentinforController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailsController</servlet-name>
        <url-pattern>/cardetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsController</servlet-name>
        <url-pattern>/blogdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricingController</servlet-name>
        <url-pattern>/pricing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileController</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/admin-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutController</servlet-name>
        <url-pattern>/admin-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCarController</servlet-name>
        <url-pattern>/admin-car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCarDetailsController</servlet-name>
        <url-pattern>/admin-cardetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminContactController</servlet-name>
        <url-pattern>/admin-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminContactDetailsController</servlet-name>
        <url-pattern>/admin-contactdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRentinforController</servlet-name>
        <url-pattern>/admin-rentinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRentinforDetailsController</servlet-name>
        <url-pattern>/admin-rentinfordetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserController</servlet-name>
        <url-pattern>/admin-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndexController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateUserController</servlet-name>
        <url-pattern>/create-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUserController</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateCarController</servlet-name>
        <url-pattern>/create-car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateCarController</servlet-name>
        <url-pattern>/update-car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCarController</servlet-name>
        <url-pattern>/delete-car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateContactController</servlet-name>
        <url-pattern>/create-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateContactController</servlet-name>
        <url-pattern>/update-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteContactController</servlet-name>
        <url-pattern>/delete-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateRentinforController</servlet-name>
        <url-pattern>/create-rentinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateRentinforController</servlet-name>
        <url-pattern>/update-rentinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRentinforController</servlet-name>
        <url-pattern>/delete-rentinfor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <context-param>
        <param-name>user</param-name>
        <param-value>minh16</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>123</param-value>
    </context-param>-->
</web-app>
